#interface_overlay {
	width:100%;
	height:100%;
	position: absolute;
	z-index: 1;


	#instruction_container {
		// width:300px;
		// height:100px;
		position: absolute;
		left:30px;
		bottom:30px;

		p {
			float:left;
			font-size:14px;
			color: rgb(255, 82, 102);
			// box-sizing: border-box;
		}
	}



	.btn_restart {
		position: absolute;
		color: rgb(255, 82, 102);
		font-size:16px;
		cursor: pointer;
		top:30px;
		left:30px;
		pointer-events:none;
		opacity: 0;

		@include transform(translate(0, 30px));
		@include transition(all .5s ease-out);

		&:hover {
			// color: rgb(255, 255, 255);
			@include transform(translate(5px, 0px));
		}


		&.show {
			opacity:1;
			pointer-events:auto;

			@include transform(translate(0, 0));

		}
	}


	// .msg_loading {
	// 	@include absCentered(179px, 179px);
	// 	background:url(../assets/loader.gif) no-repeat;

	// 	@include transform(translate(0, 30px));
	// 	@include transition(all .5s ease-out);

	// 	opacity: 0;


	// 	&.show {
	// 		opacity:1;
	// 		@include transform(translate(0, 0));
	// 	}
	// }


	.msg_blowing, .msg_loading, .msg_press {
		$width:200px;
		width:$width;
		height:20px;
		
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -12.5px;
		margin-left:-$width/2;
		text-align:center;

		@include transform(translate(0, 30px));
		@include transition(all .5s ease-out);

		opacity: 0;

		.little_arrow {
			width:9px;
			height:8px;
			margin-left: ($width - 9)/2;
			background:url(../assets/little_arrow.png) no-repeat;
			float:left;
			margin-top:5px;

			opacity: 0;
			@include transition(all .5s ease-in-out .1s);
			@include transform(translate(0, 30px));
		}


		p {
			float:left;
			color:white;
			font-size: 18px;
			color: rgb(255, 82, 102);
			text-transform: uppercase;
			text-align: center;
			width:100%;

			&.dots {
				font-size:20px;
				margin-top:-5px;
				opacity: 0;
				@include transition(all .5s ease-in-out .1s);
				@include transform(translate(0, 30px));
			}
		}




		&.show {
			opacity:1;
			@include transform(translate(0, 0));

			.dots, .little_arrow {
				opacity: 1;
				@include transform(translate(0, 0));	
			}
		}
	}


	.micro_hint {
		$width:180px;

		position: absolute;
		top:20px;
		right:0px;
		width:$width;
		@include transition(all .5s ease-in .5s);

		.micro_icon {
			width:9px;
			height:42px;
			background:url(../assets/micro_arrows.png) no-repeat;
			float:right;
			margin-right: ($width - 9)/2;
			margin-bottom: 15px;
		}

		p {
			font-size: 14px;
			line-height:1.3;
			color: rgb(255, 82, 102);
			text-transform: uppercase;
			text-align: center;
			float:right;
			clear:both;
		}


		&.hide {
			@include transform(translate(0, 30px));
			opacity: 0;
			pointer-events:none;
		}
	}
}