html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	
	overflow:hidden;
	position: static;
	background: #fbd4cd;
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

canvas {
	position: absolute;
	z-index: 0;
}


b{
	font-weight: bolder;
}

button:focus {outline:0;}

q { quotes: '\201c' '\201d'; }
q:before { content: open-quote; }
q:after  { content: close-quote; }

h1,h2,a,p,div,img,canvas {
	outline: none;
	outline-style: none;
	-webkit-touch-callout: none;              /* disable callout, image save panel */
	-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
	font-weight:normal;

	@include user-select("none");
	
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
	-ms-font-smoothing: antialiased !important;
	font-family: Verdana;
}

input, select {
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
	&:focus {
		outline: none;
		outline-offset:none;
	}
	font-family: Verdana;
}
textarea {
	@include user-select("all");
}

sup {
    vertical-align: super;
    font-size: smaller;
}

